USE [master]
GO
/****** Object:  Database [StockDB]    Script Date: 29/7/2568 17:21:01 ******/
CREATE DATABASE [StockDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StockDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StockDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StockDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StockDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StockDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StockDB]
GO
/****** Object:  Table [dbo].[products]    Script Date: 29/7/2568 17:21:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](100) NULL,
	[description] [nvarchar](255) NULL,
	[price] [decimal](18, 2) NULL,
	[create_date] [datetime] NULL,
	[stock_quantity] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_items]    Script Date: 29/7/2568 17:21:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_items](
	[sale_item_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 29/7/2568 17:21:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[sale_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_date] [datetime] NULL,
	[total_amount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_sales] PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [product_name], [description], [price], [create_date], [stock_quantity]) VALUES (2, N'Dell XPS 13', N'โน้ตบุ๊คขนาด 13 นิ้ว น้ำหนักเบา ประสิทธิภาพสูง เหมาะสำหรับทำงานและเล่นเกม', CAST(39900.00 AS Decimal(18, 2)), CAST(N'2025-07-29T15:32:13.387' AS DateTime), 15)
INSERT [dbo].[products] ([product_id], [product_name], [description], [price], [create_date], [stock_quantity]) VALUES (3, N'Apple MacBook Air M2', N'โน้ตบุ๊คบางเบา ใช้ชิป M2 แรงและประหยัดพลังงาน เหมาะกับงานทั่วไปและสร้างสรรค์', CAST(43900.00 AS Decimal(18, 2)), CAST(N'2025-07-29T15:33:27.513' AS DateTime), 10)
INSERT [dbo].[products] ([product_id], [product_name], [description], [price], [create_date], [stock_quantity]) VALUES (4, N'Asus ROG Zephyrus G14', N'โน้ตบุ๊คเกมมิ่งขนาด 14 นิ้ว ประสิทธิภาพสูงพร้อมการ์ดจอ RTX เหมาะกับเกมเมอร์', CAST(49900.00 AS Decimal(18, 2)), CAST(N'2025-07-29T15:33:47.517' AS DateTime), 8)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
ALTER TABLE [dbo].[sale_items]  WITH CHECK ADD  CONSTRAINT [fk_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[sale_items] CHECK CONSTRAINT [fk_product_id]
GO
ALTER TABLE [dbo].[sale_items]  WITH CHECK ADD  CONSTRAINT [fk_sale_id] FOREIGN KEY([sale_id])
REFERENCES [dbo].[sales] ([sale_id])
GO
ALTER TABLE [dbo].[sale_items] CHECK CONSTRAINT [fk_sale_id]
GO
USE [master]
GO
